*, *:before, *:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

@mixin row {
	width: 100%;
	padding: $gutter (100% - $width) / 2; 
	margin: 0 auto;

	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

@mixin column {
	float: left;
	padding: $gutter;

	@media (max-width: 850px) {
		width: 100% !important;
		float: none;
	}
}

img {
	width: 100%;
	max-width: 100%;
	width: auto;
}