a {
	color: $primary-color;

	&:hover, &:focus {

	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	color: $primary-color;

	a {
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

header {
	@include row;

	h1 {
		@include column;
		margin: 0;
		padding: 0;
		width: $full;
		font-size: $large;

		a {
			text-decoration: none;
		}
	}
}

nav {
	@include row;

	ul {
		@include column;
		width: $full;
		margin: 0;
		padding: 0;
		text-align: right;

		li {
			display: inline-block;
			list-style-type: none;

			a {
				text-decoration: none;

				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
	}
}

main {
	@include row;

	section {
		@include column;
		width: $full;

		article {
			h1 {
				border-bottom: 3px solid $primary-color;
			}

			.date {
				color: $light-color;
			}

			.tags {
				color: $light-color;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					list-style-type: none;
					padding: 0;
				}

				a {
					color: $light-color;
					text-decoration: none;

					&:hover, &:focus {
						color: $primary-color;
						text-decoration: underline;
					}
				}
			}
		}

		.pagination {
			margin-top: $gutter;
			
			ul {
				text-align: center;
				margin: 0;
				padding: 0;

				li {
					list-style-type: none;
					display: inline-block;
					text-align: center;
					padding: 5px;

					&.active {
						background: $light-color;
						color: $black;
						padding: 5px 10px;
					}

					a {
						color: $white;
						background: $primary-color;
						text-decoration: none;
						padding: 5px 10px;


					}
				}
			}
		}
	}
}

footer {
	@include row;

	p {
		@include column;
		width: $full;
		text-align: center;
		font-size: $small;
	}
}